<h1>New game <br></h1>

<ul class="letters">
  <% @letters.each do |letter| %>
    <li><%=letter%></li>
  <% end %>
</ul>

<% hey =  params["answer"] %>

<form action='/score' class="guess" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="answer">What is the longest word you can find ?</label>
  <div>
    <input id="token" type="hidden" name="letters" value="<%= @letters.join %>" />
    <input type="text" name="answer" class="answer" placeholder="Enter a word...">
    <input type="submit" class="play" value="Play">
  </div>
</form>
